*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

table, th, tr {
    border:1px solid black;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center
}

img {
    max-width: 100%;
    cursor: pointer;
}

form{
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    display: flex;
    justify-content: center;
    align-items: center;
}